In [1]:
import pandas as pd
import numpy as np


s = pd.Series([1.3,0.2,-3,0.9,-0.5],name='crescimento')
print(s)

pop_br_dict = {'Sudeste':88371433,'Nordeste':57071654, 
               'Sul':29975984, 'Norte':18430980, 
               'Centro-Oeste':16297074}

#pop_br = pd.Series(pop_br_dict)
#print(pop_br["Norte":"Centro-Oeste"])

#pop_br.index = ["SE","NE","SU","NO","CO"]
#pop_br.sum()

#s = pd.DataFrame(pop_br,columns=["Populacao"])


s1 = pd.Series(np.random.randint(15,45,15))           # 15 números aleatorios de 15 a 45
s2 = pd.Series(np.random.normal(170,5,15))            # 15 números com média 170 e desv 5
s3 = pd.Series(np.random.binomial(n=1,p=0.5,size=15)) # processo binomial, n=1, p=0.5
s3= s3.apply(lambda x: 'F' if x==0 else 'M')          # substituir 0 por 'F' e 1 por 'M'


df = pd.DataFrame({"idade":s1,"altura":s2})
df.columns = ['IDADE','ALTURA']



p1 = {'nome': 'Ana', 'idade':23, 'altura':1.82, 'CPF':1234}
p2 = {'nome': 'Bia', 'idade':27, 'altura':1.65, 'CPF':5678}
p3 = {'nome': 'Carlos', 'idade': 21, 'altura':1.73, 'CPF': 9012}
p4 = {'nome':'Davi', 'idade':33, 'altura': 1.68, 'CPF':3456}

#criando dataframes a partir de uma lista de dicionários
#df2 = pd.DataFrame([p1,p2,p3,p4])
#df2.columns = ["nome","altura","CPF","idade"]
#df2 = pd.DataFrame([p1,p2,p3,p4], columns = ["nome","altura","idade"])
#df2 = pd.DataFrame([p1,p2,p3,p4],columns = ["nome","altura","idade","profissao"])

#df3= np.random.rand(5,5)
#pd.DataFrame(df3)

peso = np.random.normal(75,10,4)
df['peso']= peso

0    1.3
1    0.2
2   -3.0
3    0.9
4   -0.5
Name: crescimento, dtype: float64

ValueError: Length of values (4) does not match length of index (15)

In [65]:
import pandas as pd
import numpy as np

#lendo dataframe
df_imoveis=pd.read_csv('casa_e_ap_venda_slz-2019.csv')
df_imoveis["ano"] = "2019"
#df_imoveis.describe()
#df_imoveis.var(numeric_only=True)

#gby_imo = df_imoveis.groupby('bairro') # cria um objeto DataFrameGroupBy
#f = lambda x: max(x) 

#df_imoveis.apply(f)


#df_imoveis.sort_values(by=["preco"]).sort_index(ascending=False) # ordena os numeros pelo preco ou seja atributos dinamicos pelo nome
#df_imoveis["id"].is_unique #verififcar se essa coluna os registros são únicos 
#df_imoveis.sort_index(axis = 1).sort_index(ascending=False) #ordena pelo eixo x ou y
#df_imoveis.sample(n=10)escolhe 10 linhas aleatoriamente
#print(gby_imo)

#filtroo acima de 100000 preco
#print(df_imoveis[df_imoveis["preco"]>10000])

#serie de bairros
#print(df_imoveis["bairro"]
#todas as linhas mas somente 2 colunas
#print(df_imoveis[["bairro","preco"]])

#so 3 linhas
#df_imoveis[:2]

#iloc x loc
#loc faz uso do fancy index e localiza pelo número

#linhas 2 e 0 e colunas até a 8
#df_imoveis.iloc[[2,0 ], :8]
#df_imoveis.iloc[0:10, [4,8]]

#df_imoveis.loc[:,['tipo':'bairro']]



#df_imoveis[df_imoveis['cidade']=='São José de Ribamar/MA'].sort_values(by='preco').head(10).drop(columns="id").groupby(["preco"]).median()



#df_imoveis[df_imoveis['cidade']=='Paço do Lumiar/MA'].median(numeric_only=True).drop(columns="id")

SyntaxError: invalid syntax (3370694426.py, line 48)

In [8]:
import numpy as np
import pandas as pd

a = np.random.rand(4,3)
print(a.reshape(3,4))
print(a)

[[0.03278909 0.2080525  0.59874058 0.61119948]
 [0.6364594  0.19607743 0.99721655 0.12276663]
 [0.28963332 0.96771961 0.54173625 0.7665687 ]]
[[0.03278909 0.2080525  0.59874058]
 [0.61119948 0.6364594  0.19607743]
 [0.99721655 0.12276663 0.28963332]
 [0.96771961 0.54173625 0.7665687 ]]

In [14]:
#Series 
s = pd.Series([1.3,0.2,-3,0.9,-0.5])
s2 = pd.Series([1.3,0.2,-3,0.9,-0.5],name="crescimento")

print(s2)
s.values
s.name

s[2]
s[1:4]

0    1.3
1    0.2
2   -3.0
3    0.9
4   -0.5
Name: crescimento, dtype: float64

1    0.2
2   -3.0
3    0.9
dtype: float64

In [16]:
#modificacoes dos indices de series
s3 = pd.Series([1,2,3,4], index=["a", "b","c","d"])
s3["b"]

2

In [25]:
#Series a partir de dicionarios
pop_br_dict = {"Sudeste": 88371433, "Nordeste":57071654,"Sul":29975984,"Norte":18430980, 
              "Centro-Oeste":16297074 }
pop_br_dict

pop_br = pd.Series(pop_br_dict,name="Populacao")
pop_br
pop_br["Norte"]
pop_br["Sudeste":"Norte"]
pop_br[1:4]

Nordeste    57071654
Sul         29975984
Norte       18430980
Name: Populacao, dtype: int64

In [26]:
#Modificando colunas da series 
pop_br.index=["SE","NE","S","N","CO"]
pop_br

SE    88371433
NE    57071654
S     29975984
N     18430980
CO    16297074
Name: Populacao, dtype: int64

In [27]:
#Series com escalar
pd.Series(5)

0    5
dtype: int64

In [28]:
# Series escalar com broadcast
pd.Series(5,index = [1,2,3,4])

1    5
2    5
3    5
4    5
dtype: int64

In [29]:
#funcoes de nd array disponiveis para series
pop_br.sum()

210147125

In [30]:
pop_br.mean()

42029425.0

In [68]:
#DataFrame = Semelhantes a tabelas
s = pd.Series([3.4,9.7,21,0,10.5,-2.1,4.9])
pd.DataFrame(s,columns = ["col 1"])

   col 1
0    3.4
1    9.7
2   21.0
3    0.0
4   10.5
5   -2.1
6    4.9

In [69]:
#DataFrame de Dicionario a partir de séries
s1 = pd.Series(np.random.randint(18,40,15))
s2 = pd.Series(np.random.normal(170,5,15))
s3 = pd.Series(np.random.binomial(n=1,p=0.5,size=15))

s3 = s3.apply(lambda x: "F" if x == 0 else "M")
df = pd.DataFrame({"idade":s1,"altura":s2,"sexo":s3})
df.head()

   idade      altura sexo
0     34  166.900997    M
1     27  164.228172    F
2     26  163.716367    M
3     31  178.815544    F
4     28  174.584524    F

In [70]:
#modificando as colunas
#df.columns = ["idade","altura","sexo"]

In [77]:
#DataFrame a partor de lista de dicionários
p1 = {"nome":"Ana","idade":23,"altura":1.82,"CPF":1234}
p2 = {"nome":"Bia","idade":27,"altura":1.65,"CPF":7638}
p3 = {"nome":"Carlos","idade":21,"altura":1.73,"CPF":9012}
p4 = {"nome":"Davi","idade":33,"altura":1.68,"CPF":99212}

df = pd.DataFrame([p1,p2,p3,p4],
            columns = ["nome","idade","altura","CPF","nascimento"]
            )

df

     nome  idade  altura    CPF  nascimento
0     Ana     23    1.82   1234         NaN
1     Bia     27    1.65   7638         NaN
2  Carlos     21    1.73   9012         NaN
3    Davi     33    1.68  99212         NaN

In [53]:
#DataFrame a partir de um array bi dimensional

a = np.random.rand(3,5)
print(a)
pd.DataFrame(a)

[[0.81348832 0.53120854 0.83338191 0.58438107 0.47139471]
 [0.41840111 0.65074851 0.24273215 0.60220355 0.29211062]
 [0.874491   0.19382055 0.21023208 0.7706972  0.90407784]]

          0         1         2         3         4
0  0.813488  0.531209  0.833382  0.584381  0.471395
1  0.418401  0.650749  0.242732  0.602204  0.292111
2  0.874491  0.193821  0.210232  0.770697  0.904078

In [21]:
# adicionando uma nova coluna no dataframe a partir de um ndarray
import numpy as np
import pandas as pd
p1 = {"nome":"Ana","idade":23,"altura":1.82,"CPF":1234}
p2 = {"nome":"Bia","idade":27,"altura":1.65,"CPF":7638}
p3 = {"nome":"Carlos","idade":21,"altura":1.73,"CPF":9012}
p4 = {"nome":"Davi","idade":33,"altura":1.68,"CPF":99212}

df = pd.DataFrame([p1,p2,p3,p4],
            columns = ["nome","idade","altura","CPF","nascimento"]
            )


peso = np.random.normal(75,10,4)
df["peso"] = peso
imc = ( (df["peso"])/(df["altura"] **2) ) 
df["imc"] = imc
df.loc[:,"nome":"idade"]

df.iloc[0:4,:5]

#notacao simplificada
#df[:3]
#df[["nome","idade"]] == df.loc[:,["nome","idade"]]
df.loc[:,:]

     nome  idade  altura    CPF  nascimento       peso        imc
0     Ana     23    1.82   1234         NaN  73.331311  22.138423
1     Bia     27    1.65   7638         NaN  81.446664  29.916130
2  Carlos     21    1.73   9012         NaN  74.788764  24.988728
3    Davi     33    1.68  99212         NaN  66.633149  23.608684

In [73]:
#adicionando mais uma nova coluna a partir de um ndarray
imc = ( (df["peso"])/(df["altura"] **2) ) 
type(imc)

pandas.core.series.Series

In [10]:
df["imc"] = imc
df.head()

NameError: name 'imc' is not defined

In [22]:
#Indexação implicita (indice numérico) x explícita(usa-se rótulos)

df.loc[:,"nome":"idade"]

df["nome"]

0       Ana
1       Bia
2    Carlos
3      Davi
Name: nome, dtype: object

In [33]:
#filtros
df[(df["idade"]<25) & (df["imc"]<23)]

  nome  idade  altura   CPF  nascimento       peso        imc
0  Ana     23    1.82  1234         NaN  73.331311  22.138423

In [37]:
#funcoes estatistica nos dataframes

df.var(numeric_only=True)

idade            26.000000
altura            1.720000
CPF           29274.000000
nascimento             NaN
peso             74.049972
imc              25.162991
dtype: float64

In [41]:
#chamando as funcoes estatistica com o agg
df.agg(['mean','std'],numeric_only=True)

C:\Users\Marcelo\AppData\Local\Temp\ipykernel_7244\1801394523.py:2: FutureWarning: ['nome'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['mean','std'],numeric_only=True)

          idade    altura           CPF  nascimento       peso        imc
mean  26.000000  1.720000  29274.000000         NaN  74.049972  25.162991
std    5.291503  0.074386  46748.371038         NaN   6.076803   3.375726

In [42]:
#metodos padroes
df.describe()

           idade    altura           CPF  nascimento       peso        imc
count   4.000000  4.000000      4.000000         0.0   4.000000   4.000000
mean   26.000000  1.720000  29274.000000         NaN  74.049972  25.162991
std     5.291503  0.074386  46748.371038         NaN   6.076803   3.375726
min    21.000000  1.650000   1234.000000         NaN  66.633149  22.138423
25%    22.500000  1.672500   6037.000000         NaN  71.656771  23.241118
50%    25.000000  1.705000   8325.000000         NaN  74.060037  24.298706
75%    28.500000  1.752500  31562.000000         NaN  76.453239  26.220578
max    33.000000  1.820000  99212.000000         NaN  81.446664  29.916130

In [43]:
df[['idade','altura','peso','imc']].corrwith(df['imc'])

idade     0.071247
altura   -0.762948
peso      0.791838
imc       1.000000
dtype: float64

In [44]:
df.sort_index(axis=1)

     CPF  altura  idade        imc  nascimento    nome       peso
0   1234    1.82     23  22.138423         NaN     Ana  73.331311
1   7638    1.65     27  29.916130         NaN     Bia  81.446664
2   9012    1.73     21  24.988728         NaN  Carlos  74.788764
3  99212    1.68     33  23.608684         NaN    Davi  66.633149

In [45]:
df.sort_values(by=['peso'])

     nome  idade  altura    CPF  nascimento       peso        imc
3    Davi     33    1.68  99212         NaN  66.633149  23.608684
0     Ana     23    1.82   1234         NaN  73.331311  22.138423
2  Carlos     21    1.73   9012         NaN  74.788764  24.988728
1     Bia     27    1.65   7638         NaN  81.446664  29.916130

In [46]:
df['CPF'].is_unique

True